# **Pandas**

**What is Pandas**

Pandas (short for Panel Data) is a Python library for data analysis, data manipulation, and data cleaning.<br>
It is built on top of NumPy, and it helps you handle structured data easily — just like you would in Excel or SQL.

In [1]:
import pandas as pd

**Pandas Data Structures**

> **1. Series (1D)**

A 1D labeled array (like a column in Excel).<br>
Can hold data of any type (int, float, string, etc.).

In [2]:
data=[10,20,30,40,50]
series=pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

> Custom indexing

In [3]:
# you can also give custom index :
data=[10,20,30,40,50]
series=pd.Series(data, index=[1,2,3,4,5])
print(series)

series=pd.Series(data, index=["a","b","c","d","e"])
print(series)

series=pd.Series(data, index=["Number 1","Number 2","Number 3","Number 4","Number 5"])
print(series)

1    10
2    20
3    30
4    40
5    50
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64
Number 1    10
Number 2    20
Number 3    30
Number 4    40
Number 5    50
dtype: int64

> Dictionary->Series

In [4]:
# Create from dictionary:
data={1:10,2:20,3:30,4:40,5:50}
series=pd.Series(data)
print(series)

data = {'Math': 90, 'English': 80, 'Science': 85}
marks = pd.Series(data)
print(marks)

1    10
2    20
3    30
4    40
5    50
dtype: int64
Math       90
English    80
Science    85
dtype: int64

> Accesing elements

In [5]:
# using label based index->loc
data=[10,20,30,40,50]
series=pd.Series(data, index=["a","b","c","d","e"])
print(series.loc["b"])   #20

# using positoon based integer index-> iloc
print(series.iloc[2])  #c-> 30

20
30

> **2. DataFrame (2D)**

A 2D labeled data structure (like an Excel sheet or SQL table).<br>
Each column is a Series.

In [6]:
data={
    "Name":["Himanshu","Riya","Aman"],
    "Age":[20,19,21],
    "City":["Nagpur","Delhi","Pune"]
}
df=pd.DataFrame(data)
print(df)

       Name  Age    City
0  Himanshu   20  Nagpur
1      Riya   19   Delhi
2      Aman   21    Pune

> Custom indexing

In [7]:
data={
    "Name":["Himanshu","Riya","Aman"],
    "Age":[20,19,21],
    "City":["Nagpur","Delhi","Pune"]
}
df=pd.DataFrame(data, index=["Employee 1","Employee 2","Employee 3"])
print(df)

                Name  Age    City
Employee 1  Himanshu   20  Nagpur
Employee 2      Riya   19   Delhi
Employee 3      Aman   21    Pune

> Accesing elements

In [8]:
print(df.loc["Employee 1"])

Name    Himanshu
Age           20
City      Nagpur
Name: Employee 1, dtype: object

In [9]:
print(df.iloc[1])

Name     Riya
Age        19
City    Delhi
Name: Employee 2, dtype: object

> Adding a new column:

In [10]:
df["Salary"]=[100000,90000,55000]
print(df)

                Name  Age    City  Salary
Employee 1  Himanshu   20  Nagpur  100000
Employee 2      Riya   19   Delhi   90000
Employee 3      Aman   21    Pune   55000

> Adding a new row:

In [11]:
new_row=pd.DataFrame([{"Name":"Anshul","Age":21,"City":"Balaghat","Salary":0}],index=["Employee 4"])
df=pd.concat([df,new_row])
print(df)

                Name  Age      City  Salary
Employee 1  Himanshu   20    Nagpur  100000
Employee 2      Riya   19     Delhi   90000
Employee 3      Aman   21      Pune   55000
Employee 4    Anshul   21  Balaghat       0

**Reading and writing/ Importing and exporting**

Reading:
* CSV file: pd.read_csv('file.csv')
* Json file: pd.read_json('file.json')
* Excel file: pd.read_excel('file.xlsx')
* SQL: pd.read_sql(query, connection)

Exporting:
* CSV file: df.to_csv('file.csv', index=False)
* Json file: df.to_json('file.json')
* Excel file: df.to_excel('file.xlsx', index=False)
* SQL: df.to_sql('table', connection)

In [12]:
df=pd.read_csv('Pokemon.csv')
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

**Veiwing data**

In [13]:
# to print whole data-> use df.to_string()
# print(df.to_string())

> .head() ->First 5 rows(default)

In [14]:
df.head()

   No        Name  Type1   Type2  Height  Weight  Legendary
0   1   Bulbasaur  Grass  Poison     0.7     6.9          0
1   2     Ivysaur  Grass  Poison     1.0    13.0          0
2   3    Venusaur  Grass  Poison     2.0   100.0          0
3   4  Charmander   Fire     NaN     0.6     8.5          0
4   5  Charmeleon   Fire     NaN     1.1    19.0          0

> .tail()-> last 5 rows(default)

In [15]:
df.tail()

      No       Name    Type1   Type2  Height  Weight  Legendary
145  146    Moltres     Fire  Flying     2.0    60.0          1
146  147    Dratini   Dragon     NaN     1.8     3.3          0
147  148  Dragonair   Dragon     NaN     4.0    16.5          0
148  149  Dragonite   Dragon  Flying     2.2   210.0          0
149  150     Mewtwo  Psychic     NaN     2.0   122.0          1

> df.shape -> rows and columns

In [16]:
df.shape

(150, 7)

> .describe() ->statistics summary

In [17]:
df.describe()

               No      Height      Weight   Legendary
count  150.000000  150.000000  150.000000  150.000000
mean    75.500000    1.200000   46.231333    0.026667
std     43.445368    0.963634   59.547388    0.161647
min      1.000000    0.200000    0.100000    0.000000
25%     38.250000    0.700000    9.925000    0.000000
50%     75.500000    1.000000   30.000000    0.000000
75%    112.750000    1.500000   56.375000    0.000000
max    150.000000    8.800000  460.000000    1.000000

**Selecting Data**

> Columns

In [18]:
# Single column
print(df["Name"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object

In [19]:
# Multiple Columns
print(df[["Name","Height","Weight"]])

           Name  Height  Weight
0     Bulbasaur     0.7     6.9
1       Ivysaur     1.0    13.0
2      Venusaur     2.0   100.0
3    Charmander     0.6     8.5
4    Charmeleon     1.1    19.0
..          ...     ...     ...
145     Moltres     2.0    60.0
146     Dratini     1.8     3.3
147   Dragonair     4.0    16.5
148   Dragonite     2.2   210.0
149      Mewtwo     2.0   122.0

[150 rows x 3 columns]

> Rows (loc vs iloc)

In [20]:
# you can change the index to name by :
df=pd.read_csv('Pokemon.csv',index_col="Name")
print(df.loc["Bulbasaur"])
print(df.iloc[1])

No                1
Type1         Grass
Type2        Poison
Height          0.7
Weight          6.9
Legendary         0
Name: Bulbasaur, dtype: object
No                2
Type1         Grass
Type2        Poison
Height          1.0
Weight         13.0
Legendary         0
Name: Ivysaur, dtype: object

**Filtering Data**

In [21]:
tall_pokemon=df[df["Height"]>=2]
print(tall_pokemon)

             No    Type1    Type2  Height  Weight  Legendary
Name
Venusaur      3    Grass   Poison     2.0   100.0          0
Ekans        23   Poison      NaN     2.0     6.9          0
Arbok        24   Poison      NaN     3.5    65.0          0
Onix         95     Rock   Ground     8.8   210.0          0
Exeggutor   103    Grass  Psychic     2.0   120.0          0
Kangaskhan  115   Normal      NaN     2.2    80.0          0
Gyarados    130    Water   Flying     6.5   235.0          0
Lapras      131    Water      Ice     2.5   220.0          0
Snorlax     143   Normal      NaN     2.1   460.0          0
Moltres     146     Fire   Flying     2.0    60.0          1
Dragonair   148   Dragon      NaN     4.0    16.5          0
Dragonite   149   Dragon   Flying     2.2   210.0          0
Mewtwo      150  Psychic      NaN     2.0   122.0          1

In [22]:
heavy_pokemon=df[df["Weight"]>=100]
print(heavy_pokemon)

            No     Type1    Type2  Height  Weight  Legendary
Name
Venusaur     3     Grass   Poison     2.0   100.0          0
Arcanine    59      Fire      NaN     1.9   155.0          0
Machamp     68  Fighting      NaN     1.6   130.0          0
Graveler    75      Rock   Ground     1.0   105.0          0
Golem       76      Rock   Ground     1.4   300.0          0
Dewgong     87     Water      Ice     1.7   120.0          0
Cloyster    91     Water      Ice     1.5   132.5          0
Onix        95      Rock   Ground     8.8   210.0          0
Exeggutor  103     Grass  Psychic     2.0   120.0          0
Rhyhorn    111    Ground     Rock     1.0   115.0          0
Rhydon     112    Ground     Rock     1.9   120.0          0
Gyarados   130     Water   Flying     6.5   235.0          0
Lapras     131     Water      Ice     2.5   220.0          0
Snorlax    143    Normal      NaN     2.1   460.0          0
Dragonite  149    Dragon   Flying     2.2   210.0          0
Mewtwo     150   Psychic      NaN     2.0   122.0          1

In [23]:
legendary_pokemon=df[df["Legendary"]==1]
print(legendary_pokemon)

           No     Type1   Type2  Height  Weight  Legendary
Name
Articuno  144       Ice  Flying     1.7    55.4          1
Zapdos    145  Electric  Flying     1.6    52.6          1
Moltres   146      Fire  Flying     2.0    60.0          1
Mewtwo    150   Psychic     NaN     2.0   122.0          1

In [24]:
water_pokemon=df[(df["Type1"]=="Water")| (df["Type2"]=="Water")]
print(water_pokemon)

             No  Type1     Type2  Height  Weight  Legendary
Name
Squirtle      7  Water       NaN     0.5     9.0          0
Wartortle     8  Water       NaN     1.0    22.5          0
Blastoise     9  Water       NaN     1.6    85.5          0
Psyduck      54  Water       NaN     0.8    19.6          0
Golduck      55  Water       NaN     1.7    76.6          0
Poliwag      60  Water       NaN     0.6    12.4          0
Poliwhirl    61  Water       NaN     1.0    20.0          0
Poliwrath    62  Water  Fighting     1.3    54.0          0
Tentacool    72  Water    Poison     0.9    45.5          0
Tentacruel   73  Water    Poison     1.6    55.0          0
Slowpoke     79  Water   Psychic     1.2    36.0          0
Slowbro      80  Water   Psychic     1.6    78.5          0
Seel         86  Water       NaN     1.1    90.0          0
Dewgong      87  Water       Ice     1.7   120.0          0
Shellder     90  Water       NaN     0.3     4.0          0
Cloyster     91  Water       Ice     1.5   132.5          0
Krabby       98  Water       NaN     0.4     6.5          0
Kingler      99  Water       NaN     1.3    60.0          0
Horsea      116  Water       NaN     0.4     8.0          0
Seadra      117  Water       NaN     1.2    25.0          0
Goldeen     118  Water       NaN     0.6    15.0          0
Seaking     119  Water       NaN     1.3    39.0          0
Staryu      120  Water       NaN     0.8    34.5          0
Starmie     121  Water   Psychic     1.1    80.0          0
Magikarp    129  Water       NaN     0.9    10.0          0
Gyarados    130  Water    Flying     6.5   235.0          0
Lapras      131  Water       Ice     2.5   220.0          0
Vaporeon    134  Water       NaN     1.0    29.0          0
Omanyte     138   Rock     Water     0.4     7.5          0
Omastar     139   Rock     Water     1.0    35.0          0
Kabuto      140   Rock     Water     0.5    11.5          0
Kabutops    141   Rock     Water     1.3    40.5          0

**Grouping and Aggregation**

In [25]:
df.mean(numeric_only=True)

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [26]:
print(df['Height'].mean())   # Average
print(df['Height'].min())    # Max value
print(df['Height'].max())    # Min value
print(df['Height'].sum())    # Sum

1.2
0.2
8.8
180.0

Groupby()

In [27]:
grouped=df.groupby("Type1")["Height"].mean()
print(grouped)

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [28]:
grouped=df.groupby("Type1")["Height"].count()
print(grouped)

Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Height, dtype: int64

**Data Cleaning**

Drop irrelevant column

In [29]:
df=df.drop(columns=["No"])
print(df)

              Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     Grass  Poison     0.7     6.9          0
Ivysaur       Grass  Poison     1.0    13.0          0
Venusaur      Grass  Poison     2.0   100.0          0
Charmander     Fire     NaN     0.6     8.5          0
Charmeleon     Fire     NaN     1.1    19.0          0
...             ...     ...     ...     ...        ...
Moltres        Fire  Flying     2.0    60.0          1
Dratini      Dragon     NaN     1.8     3.3          0
Dragonair    Dragon     NaN     4.0    16.5          0
Dragonite    Dragon  Flying     2.2   210.0          0
Mewtwo      Psychic     NaN     2.0   122.0          1

[150 rows x 5 columns]

Handle missing values

1. isnull()-> Check missing

In [30]:
df.isnull()

            Type1  Type2  Height  Weight  Legendary
Name
Bulbasaur   False  False   False   False      False
Ivysaur     False  False   False   False      False
Venusaur    False  False   False   False      False
Charmander  False   True   False   False      False
Charmeleon  False   True   False   False      False
...           ...    ...     ...     ...        ...
Moltres     False  False   False   False      False
Dratini     False   True   False   False      False
Dragonair   False   True   False   False      False
Dragonite   False  False   False   False      False
Mewtwo      False   True   False   False      False

[150 rows x 5 columns]

2. df.dropna()  ->Remove missing rows

In [31]:

df=pd.read_csv("Pokemon.csv")
df.dropna(subset=["Type2"])      # ALl rows with type2= NaN  are removed

      No        Name     Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur     Grass  Poison     0.7     6.9          0
1      2     Ivysaur     Grass  Poison     1.0    13.0          0
2      3    Venusaur     Grass  Poison     2.0   100.0          0
5      6   Charizard      Fire  Flying     1.7    90.5          0
11    12  Butterfree       Bug  Flying     1.1    32.0          0
..   ...         ...       ...     ...     ...     ...        ...
141  142  Aerodactyl      Rock  Flying     1.8    59.0          0
143  144    Articuno       Ice  Flying     1.7    55.4          1
144  145      Zapdos  Electric  Flying     1.6    52.6          1
145  146     Moltres      Fire  Flying     2.0    60.0          1
148  149   Dragonite    Dragon  Flying     2.2   210.0          0

[67 rows x 7 columns]

3. df.fillna()->  Replace missing values

In [32]:
df.fillna({"Type2":"None"})

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire    None     0.6     8.5          0
4      5  Charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon    None     1.8     3.3          0
147  148   Dragonair   Dragon    None     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

Drop Duplicates

In [33]:
df.drop_duplicates()

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]